In [1]:
import pandas as pd
import numpy as np
from IPython.display import display
import openpyxl
from datetime import datetime

In [2]:
def melt(df, col_vals, key, value):
    # melt pandas dataframe
    # col_vars: list of the columns that will be melted
    # key: name of column needs to be generated
    # value: name of the column that contains the value of interest
    keep_vars = df.columns.difference(col_vals)
    melted = []
    for c in col_vals:
        melted_c = df[keep_vars].copy()
        melted_c[key] = c
        melted_c[value] = df[c]
        melted.append(melted_c)
    return pd.concat(melted)

In [3]:
# read the raw spreadsheet, downloanded from shared drive
#c_recon = pd.ExcelFile("C:/celsius/Liquidity/freeze.xlsx")
c_recon = pd.ExcelFile("Freeze - December 3rd, 2021 test.xlsx")

stats = pd.read_excel(c_recon, "Coin Stats", header = None)
defi = pd.read_excel(c_recon, "DeFi Assets")
ftx = pd.read_excel(c_recon, "FTX Summary")
#template = pd.read_excel("C:/celsius/Liquidity/coin_apy_template.xlsx", sheet_name = "APY", header = None)
template = pd.read_excel("APY and COFA input for Portfolio Waterfall test.xlsx", sheet_name = "APY", header = None)
template.columns = template.iloc[0]
template = template[template["Coin"].notnull()]
template

,Coin,Bank - Balances,Celsius Network,Celsius Network System,Celsius Network Finance,Celsius OTC,CEL Treasury,CEL Users,Loans Out,Posted Collateral,...,DD-NOTIONAL-WBTC,DD-NOTIONAL-ETH,DD-Elrond-EGLD,DD-Yearn-LINK,DD-Yearn-WBTC,Deployment - 1INCH,TEST-MATIC,TEST-ARBITRUM,TEST-FANTOM,TEST-AVALANCHE
0,Coin,Bank - Balances,Celsius Network,Celsius Network System,Celsius Network Finance,Celsius OTC,CEL Treasury,CEL Users,Loans Out,Posted Collateral,...,DD-NOTIONAL-WBTC,DD-NOTIONAL-ETH,DD-Elrond-EGLD,DD-Yearn-LINK,DD-Yearn-WBTC,Deployment - 1INCH,TEST-MATIC,TEST-ARBITRUM,TEST-FANTOM,TEST-AVALANCHE
1,Category,undeployed,undeployed,undeployed,undeployed,undeployed,CEL Treasury,CEL Users,Institutional Loans,Posted Collateral,...,defi,defi,defi,defi,defi,defi,defi,defi,defi,defi
2,Tier,1.0,1.0,1.0,1.0,1.0,1.0,1.0,4.0,5.0,...,2,2,1,2,2,2,2,2,2,2
3,Default,NaN,0,0.01,0.02,0.03,0.04,0.05,0.06,0.07,...,1.27,1.28,1.29,1.3,1.31,1.32,1.33,1.34,1.35,1.36
4,wBTC (Y/N),N,N,N,N,N,N,N,N,N,...,Y,N,N,N,Y,Y,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,YFL,NaN,0,0,0,0,0,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
96,ZEC,NaN,0,0,0,0,0,NaN,0.0398,NaN,...,0,0,0,0,0,0,0,0,0,0
97,ZRX,NaN,0,0,0,0,0,NaN,0.0557,NaN,...,0,0,0,0,0,0,0,0,0,0
98,ZUSD,NaN,0,0,0,0,0,NaN,,NaN,...,0,0,0,0,0,0,0,0,0,0
103,check,3,83,81,NaN,81,81,5,39,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
stats[[0,2,3]].head()

            0                 2                      3
0  Coin/Asset  Net Assets Total  Net Liabilities Total
1         NaN               NaN                    NaN
2         NaN               NaN                    NaN
3         NaN       25458031267           -24760495288
4       1INCH       6806301.251           -693092.8149

In [5]:
coin_asset_liability = stats[[0,2,3]].copy()
# Coin/Asset, Net Assets Total, Net Liabilities Total
coin_asset_liability.columns = coin_asset_liability.iloc[0]
coin_asset_liability.drop([0], inplace = True)
coin_asset_liability.dropna(axis = 0 , how = "all", inplace = True)
coin_asset_liability.reset_index(drop = True, inplace = True)
coin_asset_liability.at[0, "Coin/Asset"] = "Total"
coin_asset_liability = coin_asset_liability[coin_asset_liability["Coin/Asset"].notnull()]
coin_asset_liability.columns = ['Coin', 'Net Assets Total', 'Net Liabilities Total']
coin_asset_liability["Net Assets Total"] = coin_asset_liability["Net Assets Total"].astype("float")
coin_asset_liability["Net Liabilities Total"] = coin_asset_liability["Net Liabilities Total"].astype("float")
#coin_asset_liability.columns
coin_asset_liability

     Coin  Net Assets Total  Net Liabilities Total
0   Total      2.545803e+10          -2.476050e+10
1   1INCH      6.806301e+06          -6.930928e+05
2    3CRV      6.389124e+02           0.000000e+00
3    AAVE      2.042811e+05          -1.980095e+05
4     ADA      2.464545e+08          -2.460847e+08
..    ...               ...                    ...
89    YFI      6.372639e+01          -2.162367e+01
90    YFL      2.162030e+03           0.000000e+00
91    ZEC      1.226882e+05          -1.231137e+05
92    ZRX      1.482823e+07          -1.503809e+07
93   ZUSD      4.029482e+05          -4.193174e+05

[94 rows x 3 columns]

In [6]:
# get the coin price, adding stable coins and srm_locked
coin_price = stats[[0,1]]
coin_price.columns = ["Coin", "Price"]
coin_price.drop([0], inplace = True)
coin_price.dropna(axis = 0 , how = "all", inplace = True)
coin_price = coin_price[coin_price["Coin"].notnull()]
coin_price.reset_index(drop = True, inplace = True)
coin_price.loc[len(coin_price.index)] = ['Stable Coins', 1] 
srm_price = float(coin_price.loc[coin_price["Coin"] == "SRM", "Price"])
coin_price.loc[len(coin_price.index)] = ['SRM_LOCKED', srm_price] 
coin_price

/Users/gabrielchoukroun/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/Users/gabrielchoukroun/opt/anaconda3/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

            Coin       Price
0          1INCH    3.137467
1           3CRV           1
2           AAVE   225.74624
3            ADA    1.561261
4           ALCX      309.19
..           ...         ...
90           ZEC  204.617566
91           ZRX     1.05529
92          ZUSD           1
93  Stable Coins           1
94    SRM_LOCKED    5.131277

[95 rows x 2 columns]

In [7]:
tiers = template[template["Coin"]=="Tier"].T
tiers.reset_index(inplace = True)
tiers.columns = ["Account", "Tier"]
tiers.drop([0], inplace = True)
# there may be duplicate records in tier info
tiers.drop_duplicates(inplace = True)
# there are some rare occasions that the same account is assinged to two or more different tiers, use the first encountered
# the others are likely for some testing purposes, which will usually added to the end 
tiers = tiers[~tiers.Account.duplicated()]
filter4 = tiers['Tier'].isnull()
tiers.at[filter4, "Tier"] = "unassigned"
tiers["Tier"] = tiers["Tier"].astype("string")
#print(len(tiers))
#print(len(tiers[tiers["Tier"] == "unassigned"]))
#print(tiers.Account.nunique())
tiers["Tier"] = tiers["Tier"].apply(lambda x:x.split(".")[0])
#tiers["Tier"].unique()
tiers

                     Account Tier
1            Bank - Balances    1
2            Celsius Network    1
3     Celsius Network System    1
4    Celsius Network Finance    1
5                Celsius OTC    1
..                       ...  ...
135       Deployment - 1INCH    2
136               TEST-MATIC    2
137            TEST-ARBITRUM    2
138              TEST-FANTOM    2
139           TEST-AVALANCHE    2

[139 rows x 2 columns]

In [8]:
categories = template[template["Coin"].isin(["Coin", "Category"])].T
categories.reset_index(drop = True, inplace = True)
categories.columns = ["Account", "Category"]
categories.drop([0], inplace = True)
categories.Category.fillna(value = "unassigned", inplace = True)
#print(len(categories))
#print(len(categories[categories["Category"] == "unassigned"]))
#print(categories.Account.nunique())
categories

                     Account    Category
1            Bank - Balances  undeployed
2            Celsius Network  undeployed
3     Celsius Network System  undeployed
4    Celsius Network Finance  undeployed
5                Celsius OTC  undeployed
..                       ...         ...
135       Deployment - 1INCH        defi
136               TEST-MATIC       defi
137            TEST-ARBITRUM       defi
138              TEST-FANTOM        defi
139           TEST-AVALANCHE        defi

[139 rows x 2 columns]

In [9]:
cofa_original = pd.read_excel("APY and COFA input for Portfolio Waterfall test.xlsx", sheet_name = "COFA")
cofa_original.dropna(axis=0, how='all', inplace=True)
cofa_original.reset_index(drop = True, inplace = True)
#display(cofa_original)
cofa_original.at[cofa_original["Coin"] == "stable", "Coin"] = "Stable Coins"
cofa_melt_cols = list(cofa_original.columns)
cofa_melt_cols.remove("Coin")
#print(cofa_melt_cols)
cofa = melt(cofa_original, cofa_melt_cols, "Account", "COFA")
cofa = cofa[cofa["COFA"].notnull()]
cofa.reset_index(drop = True, inplace = True)
cofa

            Coin                  Account    COFA
0          1INCH                  Default  0.0399
1           AAVE                  Default  0.0396
2            ADA                  Default  0.0217
3            BAT                  Default  0.0101
4            BCH                  Default  0.0233
5            BNB                  Default  0.0579
6            BNT                  Default  0.0595
7            BSV                  Default  0.0184
8            BTC                  Default  0.0292
9            BTG                  Default  0.0000
10           CEL                  Default  0.0389
11          COMP                  Default  0.0449
12          DASH                  Default  0.0418
13           DOT                  Default  0.0755
14           EOS                  Default  0.0477
15           ETC                  Default  0.0295
16           ETH                  Default  0.0379
17           KNC                  Default  0.0048
18          LINK                  Default  0.0253
19           LPT                  Default  0.0000
20           LTC                  Default  0.0291
21          LUNA                  Default  0.0489
22          MANA                  Default  0.0044
23         MATIC                  Default  0.0822
24           OMG                  Default  0.0047
25          ORBS                  Default  0.0000
26          PAXG                  Default  0.0520
27           SGR                  Default  0.0000
28           SNX                  Default  0.1333
29         SUSHI                  Default  0.0357
30           UMA                  Default  0.0094
31           UNI                  Default  0.0229
32          XAUT                  Default  0.0554
33           XLM                  Default  0.0092
34           XRP                  Default  0.0163
35           ZEC                  Default  0.0162
36           ZRX                  Default  0.0171
37  Stable Coins                  Default  0.1300
38           CEL             CEL Treasury  0.0000
39         check             CEL Treasury  1.0000
40           BTC        Posted Collateral  0.0000
41           ETH        Posted Collateral  0.0000
42         check        Posted Collateral  2.0000
43         check                FTX - CnC  0.0000
44           CEL                FTX - CEL  0.0000
45         check                FTX - CEL  1.0000
46         check   FTX - TEAM Directional  0.0000
47         check              FTX - LONG1  0.0000
48           BTC  Celsius Borrows Account  0.0000
49           ETH  Celsius Borrows Account  0.0000
50         check  Celsius Borrows Account  2.0000

In [10]:
apy = template[~template["Coin"].isin(["Coin", "Category", "Tier"])]
#apy.fillna(value = 0, inplace = True)
apy.replace([" ", "", "  "], np.nan, inplace = True)
apy =apy[apy["Coin"] != "wBTC (Y/N)"]
apy

/Users/gabrielchoukroun/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,Coin,Bank - Balances,Celsius Network,Celsius Network System,Celsius Network Finance,Celsius OTC,CEL Treasury,CEL Users,Loans Out,Posted Collateral,...,DD-NOTIONAL-WBTC,DD-NOTIONAL-ETH,DD-Elrond-EGLD,DD-Yearn-LINK,DD-Yearn-WBTC,Deployment - 1INCH,TEST-MATIC,TEST-ARBITRUM,TEST-FANTOM,TEST-AVALANCHE
3,Default,NaN,0,0.01,0.02,0.03,0.04,0.05,0.06,0.07,...,1.27,1.28,1.29,1.3,1.31,1.32,1.33,1.34,1.35,1.36
5,1INCH,NaN,0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,3CRV,NaN,0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,AAVE,NaN,0,0,0,0,0,NaN,0.0659,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,ADA,NaN,0,0,0,0,0,NaN,0.0733,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,YFL,NaN,0,0,0,0,0,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
96,ZEC,NaN,0,0,0,0,0,NaN,0.0398,NaN,...,0,0,0,0,0,0,0,0,0,0
97,ZRX,NaN,0,0,0,0,0,NaN,0.0557,NaN,...,0,0,0,0,0,0,0,0,0,0
98,ZUSD,NaN,0,0,0,0,0,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
103,check,3,83,81,NaN,81,81,5,39,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
apy2 = apy.copy()
apy2["Coin"] = apy2["Coin"] + "_APY"
apy5 = apy2.T
apy5.reset_index(inplace = True)
apy5.columns = apy5.iloc[0]
apy5.rename(columns = {"Coin": "Account"}, inplace = True)
apy5.drop([0], inplace = True)
apy5

,Account,Default_APY,1INCH_APY,3CRV_APY,AAVE_APY,ADA_APY,ALCX_APY,ALPHA_APY,alUSD_APY,AMPL_APY,...,WDGLD_APY,XAUT_APY,XLM_APY,XRP_APY,YFI_APY,YFL_APY,ZEC_APY,ZRX_APY,ZUSD_APY,check_APY
1,Bank - Balances,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,Celsius Network,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,83
3,Celsius Network System,0.01,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,81
4,Celsius Network Finance,0.02,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
5,Celsius OTC,0.03,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,Deployment - 1INCH,1.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
136,TEST-MATIC,1.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
137,TEST-ARBITRUM,1.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
138,TEST-FANTOM,1.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
139,TEST-AVALANCHE,1.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN

In [12]:
# conver dyptes to float
for col in apy5.columns:
    if col != "Account":
        apy5.loc[apy5[col].isin(template["Coin"].unique()), col] = np.nan
        apy5[col] = apy5[col].astype("float")

In [13]:
# get the user collateral and inst collateral data
collateral = stats.copy()
collateral_p1 = collateral.iloc[:, 0].to_frame()
collateral_p1.columns = ["Coin"]
collateral_p2 = collateral.iloc[:, 4:]
collateral_p2.columns = collateral_p2.iloc[2]
collateral = pd.concat([collateral_p1, collateral_p2[["User Collateral", "Inst Collateral"]]], axis = 1)
collateral.drop([0,1,2,3], inplace = True)
collateral = collateral[collateral["Coin"].notnull()]
collateral["User Collateral"] = -1 * collateral["User Collateral"]
collateral["Inst Collateral"] = -1 * collateral["Inst Collateral"]
collateral.fillna(value = 0, inplace = True)
collateral

     Coin  User Collateral  Inst Collateral
4   1INCH     1.180821e+04             0.00
5    3CRV     0.000000e+00             0.00
6    AAVE     2.276331e+04         16710.93
7     ADA     5.316338e+07      60661894.34
8    ALCX     0.000000e+00             0.00
..    ...              ...              ...
92    YFI     0.000000e+00             0.00
93    YFL     0.000000e+00             0.00
94    ZEC     2.639846e+04             0.00
95    ZRX     6.590886e+05             0.00
96   ZUSD     0.000000e+00             0.00

[93 rows x 3 columns]

In [14]:
# process stats table

# first fill the "asset" or "liability" into row 0
stats.iloc[0] = stats.iloc[0].ffill()
# drop the secondary description of asset or liability (no use)
stats.drop([1], inplace = True)

#split stats into two parts, p1 is coin name and summary, p2 is assets/liabilities
stats_p1 = stats.iloc[:, 0:3]
stats_p1.columns = stats_p1.iloc[0]
stats_p1.reset_index(drop = True, inplace = True)
stats_p1.drop([0, 1, 2], inplace = True)
stats_p1.rename(columns = {"Coin/Asset": "Coin"}, inplace = True)


stats_p2 = stats.iloc[:, 4:]

# filter according to "assets" and the detailed account name cannot be null
stats_p3 = stats_p2.loc[:, stats_p2.loc[2].notnull()]
stats_p4 = stats_p3.loc[:, stats_p3.loc[0] == "Assets"]
stats_p4.reset_index(drop = True, inplace = True)
stats_p4.columns = stats_p4.iloc[1]
stats_p4.reset_index(drop = True, inplace = True)
stats_p4.drop([0, 1, 2], inplace = True)
stats = pd.concat([stats_p1["Coin"], stats_p4], axis = 1)
stats = stats[stats["Coin"].notnull()]
stats

/Users/gabrielchoukroun/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/Users/gabrielchoukroun/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Coin,Bank - Balances,Celsius Network,Celsius Network System,Celsius OTC,Celsius Network Finance,CEL Treasury,CEL Users,Loans Out,Posted Collateral,...,Stakehound,Kraken Staking,Direct Staking,Mining,EAM - Balances,Others - Asset,BITFINEX,COINBASEPRO,DERIBIT,LIQUID
3,1INCH,0,0,139634.4114,0,0,0,0,0,0,...,0,0,0,0,0,6666666.66,0,0,0,0
4,3CRV,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,AAVE,0,33.2307,5862.658315,21.55,4.32075,0,0,19620.65,0,...,0,0,0,0,0,0,0,0,0,0
6,ADA,0,103,2906564.184,14728.44519,31898.68659,0,0,70511559,0,...,0,0,172989649.9,0,0,0,0,0,0,0
7,ALCX,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,YFI,0,0.272542,0.308855,0,0,0,0,50.86,0,...,0,0,0,0,0,0,0.904992,0,0,0
92,YFL,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93,ZEC,0,214.6216,96843.07721,0,0,0,0,21000,0,...,0,0,0,0,0,0,4630.521552,0,0,0
94,ZRX,0,196830.148,1244793.331,0,272.88,0,0,3500000,0,...,0,0,0,0,0,0,577363.3009,8735.95141,0,0
95,ZUSD,0,0,402948.2391,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
defi_p1 = defi.iloc[:, 0:3]
defi_p1.drop([0, 1, 2], inplace = True)
defi_p1.rename(columns = {"Coin/Asset": "Coin"}, inplace = True)
defi_p1
defi_p2 = defi.iloc[:, 3:]

# filter according the detailed account name cannot be null
defi_p3 = defi_p2.loc[:, defi_p2.iloc[1].notnull()]
defi_p3.reset_index(drop = True, inplace = True)
defi_p3.columns = defi_p3.iloc[1]
defi_p3.reset_index(drop = True, inplace = True)
defi_p3.drop([0, 1, 2], inplace = True)
defi_p3
defi = pd.concat([defi_p1["Coin"], defi_p3], axis = 1)
defi = defi[defi["Coin"].notnull()]
defi

,Coin,Deployment - 1INCH,YFL,Deployment - Curve,AAVE Deployment / Staking,Celsius Borrows Account,Deployment Team - Misc,Network Deposits,OmniMan1,OmniMan2,...,TEST-ARBITRUM,TEST-FANTOM,Truefi Borrows Account,YD - BADGER - byvWBTC,YD - Curve - BBTC,YD - Curve - pBTC,YD - Vesper - vETH,YD - Vesper - vLINK,Yield Desk - Compound,TEST-SYNTHETIX
3,1INCH,0,0.179374,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3CRV,0,0,638.912392,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,AAVE,0,0,0,166229.4171,3802.47475,8404.949297,0.023314,10.075529,228.374449,...,0,0,0,0,0,0,0,0,0,0
6,ADA,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,ALCX,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,YFI,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92,YFL,0,118,0,0,0,0,2044.03038,0,0,...,0,0,0,0,0,0,0,0,0,0
93,ZEC,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
94,ZRX,0,0,0,0,3237633.776,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95,ZUSD,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
# process ftx summary data
ftx.dropna(axis = 0 , how = "all", inplace = True)
ftx.dropna(axis = 1 , how = "all", inplace = True)
filter_ftx = ((ftx["Total Asset"] == 0) & (ftx["Total Borrow"] == 0))
ftx = ftx[(ftx["coin"].notnull()) & ~filter_ftx]
ftx.drop(columns = ["Total Asset", "Total Borrow"], inplace = True)
ftx_cols = []
for col in ftx.columns:
    ftx_cols.append("FTX - " + col)
ftx.columns = ftx_cols
ftx.rename(columns = {"FTX - coin": "Coin"}, inplace = True)

# below lines of code will merge BTC and WBTC together
ftx_btc = ftx[ftx["Coin"].isin(["BTC", "WBTC"])]
ftx_btc = ftx_btc.append(ftx_btc.sum(numeric_only=True), ignore_index=True)
ftx_btc = ftx_btc[~ftx_btc["Coin"].isin(["BTC", "WBTC"])]
ftx_btc.reset_index(drop = True, inplace = True)
ftx_btc.loc[0, "Coin"] = "BTC"
ftx = pd.concat([ftx_btc, ftx[~ftx["Coin"].isin(["BTC", "WBTC"])]])
ftx

,Coin,FTX - CnC,FTX - TEAM Directional,FTX - Grayscale,FTX - Main Account,FTX - DeFi,FTX - Management,FTX - Kairon,FTX - Kairon2,FTX - Brad,FTX - Jacob,FTX - cel_staking,FTX - Directional Trading 2,FTX - CEL,FTX - Borrow
0,BTC,4026.00,0.00,0.00,0.00,7.00,0.00,4.89,0.00,0.00,19124.34,0.0,0.00,355.87,1000.01
0,USD,55118757.01,-922703.50,-17.86,0.00,5009076.94,192629.21,221840.35,3050734.99,-664903.13,0.00,0.0,-764972.57,4224511.77,-3132104.19
1,BOBA,400000.07,0.00,0.00,0.00,0.00,0.06,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00
2,MATIC,1000025.91,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00
3,ALICE,60000.05,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00
6,LRC,900021.23,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00
7,SOL,25000.50,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.01,0.00,0.0,0.00,0.00,-1.00
8,FTM,500013.30,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00
9,MANA,500014.14,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00
14,POLIS,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,213558.86,0.00,0.0,0.00,0.00,0.00
15,RAY,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,162992.68,0.00,0.0,0.00,0.00,0.00
16,SRM_LOCKED,496843.43,80277.03,4038.82,53239.60,0.00,0.00,0.00,0.00,8128.66,0.00,0.0,16966.36,36960.59,0.00
17,SRM,11161.07,1562.93,70.91,20022265.33,0.00,0.00,0.00,0.00,79.34,0.00,0.0,2000133.64,659.41,94376492.03
18,ETH,23900.43,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,180079.28,0.0,0.00,0.00,0.00
19,CEL,19087841.64,0.00,0.00,0.00,0.00,10000000.00,327521.97,838568.27,0.00,0.00,0.0,0.00,19404613.65,0.00
20,LTC,0.00,0.00,0.00,9606.78,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00
21,BCH,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,10009.90,0.0,0.00,0.00,0.00
24,BNB,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,7605.19,0.0,0.00,0.00,0.00
25,FTT,4240586.36,1000000.00,60342.45,10.00,0.00,1001000.00,0.00,0.00,200000.00,0.00,0.0,500000.00,500000.00,0.00
26,ALPHA,0.08,0.00,0.00,0.00,0.75,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00
29,ROOK,0.00,0.00,0.00,0.00,0.70,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00
30,COMP,0.00,0.00,0.00,0.00,0.71,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00
31,AAVE,0.00,0.00,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00
32,ZRX,0.00,0.00,0.00,6062600.28,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00
33,BAT,0.00,0.00,0.00,0.00,549.52,760017.56,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00
34,LINK,0.00,0.00,0.00,4506.58,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00
35,XRP,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,829.39
39,ATLAS,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,11592288.44,0.00,0.0,0.00,0.00,0.00
40,CRV,0.00,0.00,1.44,0.00,0.13,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00
43,SNX,0.00,0.00,0.00,0.00,0.04,0.00,0.00,0.00,0.00,300373.12,0.0,0.00,0.00,0.00
49,UNI,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,205107.59,0.0,0.00,0.00,0.00
52,CREAM,0.00,0.00,0.00,0.00,0.10,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00
53,BNT,0.00,0.00,0.00,0.00,1.56,0.00,0.00,0.00,0.00,70354.37,0.0,0.00,0.00,0.00
58,XAUT,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,101.00,0.0,0.00,0.00,0.00
59,KNC,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,100525.98,0.0,0.00,0.00,0.00
60,YFI,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,11.38,0.0,0.00,0.00,0.00

In [17]:
# get update date and time
now = datetime.now()
dt_string = now.strftime("%Y-%m-%d %H:%M:%S")
#print("Updated at:", dt_string)

In [18]:
# define the stable coins
stables = ['alUSD','BUSD', 'GUSD', 'LUSD', 'LUSD Curve','MCDAI', 'PAX', 'SUSD', 'TUSD', 
           'USDC', 'USDT ERC20', 'ZUSD', "USD"]

In [19]:
# get a pandas df containing all tiers for merging
tier_dict = {"Tier":["1", "2", "3", "4", "5", "unassigned"]}
coin_tiers = pd.DataFrame.from_dict(tier_dict)
coin_tiers

         Tier
0           1
1           2
2           3
3           4
4           5
5  unassigned

In [20]:
# merge all 3 parts (coin stats, defi assets and ftx summary) together 
coin_stats = stats.merge(defi, on = "Coin", how = "outer")
coin_stats = coin_stats.merge(ftx, on = "Coin", how = "outer")
coin_stats.fillna(value = 0, inplace = True)
coin_stats_col = []
# the follwoing code is to remove the spaces trailing or following the name of the columns
for col in coin_stats.columns:
    coin_stats_col.append(col.strip())
coin_stats.columns = coin_stats_col
#len(coin_stats.columns)
coin_stats

,Coin,Bank - Balances,Celsius Network,Celsius Network System,Celsius OTC,Celsius Network Finance,CEL Treasury,CEL Users,Loans Out,Posted Collateral,...,FTX - DeFi,FTX - Management,FTX - Kairon,FTX - Kairon2,FTX - Brad,FTX - Jacob,FTX - cel_staking,FTX - Directional Trading 2,FTX - CEL,FTX - Borrow
0,1INCH,0.0,0.0000,1.396344e+05,0.00000,0.00000,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.00,0.0
1,3CRV,0.0,0.0000,0.000000e+00,0.00000,0.00000,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.00,0.0
2,AAVE,0.0,33.2307,5.862658e+03,21.55000,4.32075,0.0,0.0,19620.65,0.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.00,0.0
3,ADA,0.0,103.0000,2.906564e+06,14728.44519,31898.68659,0.0,0.0,70511559.00,0.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.00,0.0
4,ALCX,0.0,0.0000,0.000000e+00,0.00000,0.00000,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,ZUSD,0.0,0.0000,4.029482e+05,0.00000,0.00000,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.00,0.0
93,ALICE,0.0,0.0000,0.000000e+00,0.00000,0.00000,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.00,0.0
94,LRC,0.0,0.0000,0.000000e+00,0.00000,0.00000,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.00,0.0
95,POLIS,0.0,0.0000,0.000000e+00,0.00000,0.00000,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,213558.86,0.0,0.0,0.00,0.00,0.0
96,SRM_LOCKED,0.0,0.0000,0.000000e+00,0.00000,0.00000,0.0,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,8128.66,0.0,0.0,16966.36,36960.59,0.0

In [21]:
# get a list of coins 
coin_list = list(coin_stats["Coin"].unique())
coin_list.append("Stable Coins")
#coin_list

In [22]:
# get a list of accounts
acc_list = np.asarray(tiers["Account"])
len(acc_list)

139

In [23]:
# see which accounts in coin recon sheet are not in covered in apy/cofa sheet
not_covered = []
for col in coin_stats.columns:
    if col not in acc_list:
        not_covered.append(col)
not_covered

['Coin',
 'DeFi Borrows - Assets',
 'DeFi Assets - Assets',
 'FTX',
 'Deribit - API',
 'YD - Convex - bBTC',
 'YD - Curve - hBTC',
 'YD - Curve - AnkrETH',
 'MATIC Staking 9',
 'FTX - Directional Trading 2']

In [24]:
# see which accounts in apy/cofa sheet are not listed in coin recon sheet
not_covered = []
for col in acc_list:
    if col not in coin_stats.columns:
        not_covered.append(col)
not_covered

['Deployment- 1INCH Staking (TESTING)',
 'Impermanent_loss_hedge__RonSabo',
 'Hedge_Options',
 'FTX ',
 'FTX Summery',
 'FTX - Johannes',
 2,
 'Binance - CnC',
 'Binance - Main',
 'Binance - Earn',
 'Binance - DeFi',
 'Binance - RS',
 'Binance Staking',
 'OKEX',
 'YD - Curve - renBTC',
 'Deployment - Stable Coin Swaps',
 'Deployment Team - COMP supply',
 'Deployment- 1INCH Staking',
 'Convex: cvxBUSD3CRV-f',
 'FTX - LONG1',
 'Deployment - 1INCH Staking (testing)']

In [25]:
# transpose coin_stats so we can merge with Tier/APY/COFA on accounts
coin_stats_t = coin_stats.T
new_header = coin_stats_t.iloc[0] #grab the first row for the header
coin_stats_t = coin_stats_t[1:] #take the data less the header row
coin_stats_t.columns = new_header #set the header row as the df header
coin_stats_t.reset_index(inplace = True)
coin_stats_t.rename(columns={coin_stats_t.columns[0]: "Account" }, inplace = True)
coin_stats_t.reset_index(drop=True, inplace = True)
coin_stats_t = coin_stats_t[~coin_stats_t["Account"].isin(['DeFi Borrows - Assets', 'DeFi Assets - Assets', "FTX"])]

coin_stats_t

Coin,Account,1INCH,3CRV,AAVE,ADA,ALCX,ALPHA,alUSD,AMPL,ANKR,...,XRP,YFI,YFL,ZEC,ZRX,ZUSD,ALICE,LRC,POLIS,SRM_LOCKED
0,Bank - Balances,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Celsius Network,0.0,0.0,33.2307,103.0,0.0,0.0,0.0,0.0,0.0,...,16395801.26,0.272542,0.0,214.6216,196830.148,0.0,0.0,0.0,0.0,0.0
2,Celsius Network System,139634.4114,0.0,5862.658315,2906564.184,0.0,0.0,0.0,204.061424,24004.58859,...,12426057.21,0.308855,0.0,96843.07721,1244793.331,402948.2391,0.0,0.0,0.0,0.0
3,Celsius OTC,0.0,0.0,21.55,14728.44519,0.0,0.0,0.0,0.0,0.0,...,7536.163032,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Celsius Network Finance,0.0,0.0,4.32075,31898.68659,0.0,0.0,0.0,0.0,0.0,...,12010.51,0.0,0.0,0.0,272.88,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,FTX - Jacob,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,11.38,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
123,FTX - cel_staking,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
124,FTX - Directional Trading 2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16966.36
125,FTX - CEL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36960.59
126,FTX - Borrow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,829.39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
# merge the tier info 
coin_stat_tier = tiers.merge(coin_stats_t, on = "Account", how = "right")
#coin_stat_tier["Tier"].fillna(value = "unknown", inplace = True)

# get the number of stable coins
coin_stat_tier['Stable Coins']= coin_stat_tier[stables].sum(axis=1)
coin_stat_tier.to_excel("coin_stats_tier.xlsx", index = False)

#print(len(coin_stat_tier[coin_stat_tier["Tier"] == "unknown"]))
coin_stat_tier["Tier"] = coin_stat_tier["Tier"].astype("str")
coin_stat_tier

,Account,Tier,1INCH,3CRV,AAVE,ADA,ALCX,ALPHA,alUSD,AMPL,...,YFI,YFL,ZEC,ZRX,ZUSD,ALICE,LRC,POLIS,SRM_LOCKED,Stable Coins
0,Bank - Balances,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.304324e+08
1,Celsius Network,1,0.0,0.0,33.2307,103.0,0.0,0.0,0.0,0.0,...,0.272542,0.0,214.6216,196830.148,0.0,0.0,0.0,0.0,0.0,2.846318e+06
2,Celsius Network System,1,139634.4114,0.0,5862.658315,2906564.184,0.0,0.0,0.0,204.061424,...,0.308855,0.0,96843.07721,1244793.331,402948.2391,0.0,0.0,0.0,0.0,8.150584e+07
3,Celsius OTC,1,0.0,0.0,21.55,14728.44519,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.536886e+06
4,Celsius Network Finance,1,0.0,0.0,4.32075,31898.68659,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,272.88,0.0,0.0,0.0,0.0,0.0,3.102732e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,FTX - Jacob,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11.38,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
120,FTX - cel_staking,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
121,FTX - Directional Trading 2,nan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16966.36,-7.649726e+05
122,FTX - CEL,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36960.59,4.224512e+06
123,FTX - Borrow,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-3.132104e+06

In [27]:
# creating a list for summing stable coin yields
stable_yield = []
for coin in stables:
    stable_yield.append(coin+"_yield")
stable_yield

['alUSD_yield',
 'BUSD_yield',
 'GUSD_yield',
 'LUSD_yield',
 'LUSD Curve_yield',
 'MCDAI_yield',
 'PAX_yield',
 'SUSD_yield',
 'TUSD_yield',
 'USDC_yield',
 'USDT ERC20_yield',
 'ZUSD_yield',
 'USD_yield']

In [28]:
coin_stat_tier_apy = coin_stat_tier.merge(apy5, on = "Account", how = "left")
coin_stat_tier_apy.head(10)

,Account,Tier,1INCH,3CRV,AAVE,ADA,ALCX,ALPHA,alUSD,AMPL,...,WDGLD_APY,XAUT_APY,XLM_APY,XRP_APY,YFI_APY,YFL_APY,ZEC_APY,ZRX_APY,ZUSD_APY,check_APY
0,Bank - Balances,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
1,Celsius Network,1,0.0,0.0,33.2307,103.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,0.0,83.0
2,Celsius Network System,1,139634.4114,0.0,5862.658315,2906564.184,0.0,0.0,0.0,204.061424,...,0.0,0.0,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,0.0,81.0
3,Celsius OTC,1,0.0,0.0,21.55,14728.44519,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,0.0,81.0
4,Celsius Network Finance,1,0.0,0.0,4.32075,31898.68659,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,0.0,NaN
5,CEL Treasury,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,0.0,81.0
6,CEL Users,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
7,Loans Out,4,0.0,0.0,19620.65,70511559.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.0534,0.0462,0.0831,NaN,0.0398,0.0557,NaN,39.0
8,Posted Collateral,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0000,NaN,NaN,NaN,NaN,NaN,9.0
9,PrimeTrust,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0

In [29]:
#coin_stat_tier_apy.columns.tolist() 
# Default_APY columns

In [30]:
# calculating the yield for each coin/account
coin_stat_tier_apy = coin_stat_tier.merge(apy5, on = "Account", how = "left")

In [31]:
# ADD --------------------------
# ------------------------------
# I need to add a function that will fill _APY columns with the default values
def default_fill(row):
    if ~ np.isnan(row['Default_APY']): 
        row.loc[apy_cols] = row[apy_cols].fillna(row['Default_APY'])
    return row

In [35]:
# calculating the yield for each coin/account
coin_stat_tier_apy = coin_stat_tier.merge(apy5, on = "Account", how = "left")
#coin_stat_tier_apy.fillna(value = 0, inplace = True)
# --------- ADD GAB - Replace NA APY by the corresponding Default APY values if it exists -------------------
apy_cols = ['_APY' in col for col in coin_stat_tier_apy.columns]
coin_stat_tier_apy = coin_stat_tier_apy.apply(default_fill, axis=1, result_type='broadcast')
coin_stat_tier_apy['Stable Coins'] = coin_stat_tier_apy['Stable Coins'].astype(np.float64)
# ------------------------------------------------------------------------------
#coin_stat_tier_apy.to_excel("C:/celsius/Liquidity/coin_stat_tier_apy.xlsx", index = False)
for coin in coin_list:
    #print(coin)
    yield_name = coin + "_yield"
    coin_apy = coin + "_APY"
    if coin_apy in coin_stat_tier_apy.columns:
        coin_stat_tier_apy[yield_name] = coin_stat_tier_apy[coin] * coin_stat_tier_apy[coin_apy]
    else:
        coin_stat_tier_apy[yield_name] = 0
        coin_stat_tier_apy[coin_apy] = np.nan
coin_stat_tier_apy['Stable Coins_yield']= coin_stat_tier_apy[stable_yield].sum(axis=1)
coin_stat_tier_apy['Stable Coins_APY']= coin_stat_tier_apy['Stable Coins_yield']/ coin_stat_tier_apy['Stable Coins']
#coin_stat_tier_apy.to_excel("C:/celsius/Liquidity/coin_stat_tier_apy.xlsx", index = False)
coin_stat_tier_apy.to_excel("coin_stat_tier_apy test.xlsx", index = False)
coin_stat_tier_apy

/var/folders/q7/qhj4q23x49vb9f__hlp8t3280000gn/T/ipykernel_25682/3100887063.py:17: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  coin_stat_tier_apy[yield_name] = 0
/var/folders/q7/qhj4q23x49vb9f__hlp8t3280000gn/T/ipykernel_25682/3100887063.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  coin_stat_tier_apy[coin_apy] = np.nan
/var/folders/q7/qhj4q23x49vb9f__hlp8t3280000gn/T/ipykernel_25682/3100887063.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  coin_stat_tier_apy[yield_name] = coin_stat_tier_apy[coin] * coin_stat_tier_apy[coin_apy]

,Account,Tier,1INCH,3CRV,AAVE,ADA,ALCX,ALPHA,alUSD,AMPL,...,ZUSD_yield,ALICE_yield,ALICE_APY,LRC_yield,LRC_APY,POLIS_yield,POLIS_APY,SRM_LOCKED_yield,Stable Coins_yield,Stable Coins_APY
0,Bank - Balances,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0,NaN,0,NaN,0,NaN,NaN,0.0000,0.00
1,Celsius Network,1,0.0,0.0,33.2307,103.0,0.0,0.0,0.0,0.0,...,0.0,0,NaN,0,NaN,0,NaN,0.0,0.0000,0.00
2,Celsius Network System,1,139634.4114,0.0,5862.658315,2906564.184,0.0,0.0,0.0,204.061424,...,0.0,0,NaN,0,NaN,0,NaN,0.0,0.0000,0.00
3,Celsius OTC,1,0.0,0.0,21.55,14728.44519,0.0,0.0,0.0,0.0,...,0.0,0,NaN,0,NaN,0,NaN,0.0,0.0000,0.00
4,Celsius Network Finance,1,0.0,0.0,4.32075,31898.68659,0.0,0.0,0.0,0.0,...,0.0,0,NaN,0,NaN,0,NaN,0.0,0.0000,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,FTX - Jacob,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,NaN,0,NaN,0,NaN,0.0,0.0000,NaN
120,FTX - cel_staking,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,NaN,0,NaN,0,NaN,0.0,0.0000,NaN
121,FTX - Directional Trading 2,nan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0,NaN,0,NaN,0,NaN,NaN,0.0000,-0.00
122,FTX - CEL,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,NaN,0,NaN,0,NaN,8131.3298,929392.5894,0.22
123,FTX - Borrow,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,NaN,0,NaN,0,NaN,0.0,-375852.5028,0.12

In [36]:
# group by coin/tier
for coin in coin_list:
    #print(coin)
    coin_yield = coin+"_yield"
    coin_apy = coin+"_APY"
    df1 = coin_stat_tier_apy[[coin, coin_yield, "Tier"]]
    df2 = df1.groupby('Tier', as_index = False).agg({coin: "sum",
                                                    coin_yield: "sum"})
    df2[coin_apy] = df2[coin_yield]/ df2[coin]
    df2.drop(columns = [coin_yield], inplace = True)
    #display(df2)
    coin_tiers = coin_tiers.merge(df2, on = "Tier", how = "left")
coin_tiers.fillna(value = 0, inplace = True)
coin_tiers

,Tier,1INCH,1INCH_APY,3CRV,3CRV_APY,AAVE,AAVE_APY,ADA,ADA_APY,ALCX,...,ALICE,ALICE_APY,LRC,LRC_APY,POLIS,POLIS_APY,SRM_LOCKED,SRM_LOCKED_APY,Stable Coins,Stable Coins_APY
0,1,1.396344e+05,0.00,0.000000,0.00,5921.783079,0.000002,2.953294e+06,0.0000,0.0,...,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.000000,5.223525e+08,0.005073
1,2,0.000000e+00,0.00,638.912392,0.69,8426.284972,0.521771,0.000000e+00,0.0000,0.0,...,0.00,0.0,0.00,0.0,0.00,0.0,57278.42,0.213526,5.503113e+07,1.683629
2,3,1.793736e-01,0.72,0.000000,0.00,0.000000,0.000000,0.000000e+00,0.0000,0.0,...,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.000000,0.000000e+00,0.000000
3,4,0.000000e+00,0.00,0.000000,0.00,19662.669256,0.065759,7.051156e+07,0.0733,0.0,...,60000.05,0.0,900021.23,0.0,213558.86,0.0,622209.71,-0.045720,1.456494e+09,0.096877
4,5,6.666667e+06,0.42,0.000000,0.00,170270.341828,0.490530,1.729896e+08,0.0450,0.0,...,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.000000,1.513825e+09,0.148220
5,unassigned,0.000000e+00,0.00,0.000000,0.00,0.000000,0.000000,0.000000e+00,0.0000,0.0,...,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.000000,0.000000e+00,0.000000

In [38]:
coin_tier_p1_cols = ["Tier"]
coin_tier_p2_cols = ["Tier"]
filter2 = coin_tiers["Tier"] != "unassigned"
for col in coin_tiers.columns:
    if col != "Tier" and "_APY" in col:
        coin_tier_p2_cols.append(col)
    elif col != "Tier":
        coin_tier_p1_cols.append(col)
    else:
        pass
print(coin_tier_p1_cols)
print(coin_tier_p2_cols)

['Tier', '1INCH', '3CRV', 'AAVE', 'ADA', 'ALCX', 'ALPHA', 'alUSD', 'AMPL', 'ANKR', 'ATLAS', 'AVAX', 'BADGER', 'BAL', 'BAT', 'BCH', 'BNB', 'BNT', 'BOBA', 'BOND', 'BOR', 'BSV', 'BTC', 'BTG', 'BUSD', 'CEL', 'COMP', 'CREAM', 'CRV', 'CVX', 'DASH', 'DIGG', 'DOT', 'EOS', 'ETC', 'ETH', 'FARM', 'FIS', 'FTM', 'FTT', 'GUSD', 'KNC', 'LDO', 'LINK', 'LPT', 'LQTY', 'LTC', 'LUNA', 'LUSD', 'LUSD Curve', 'MANA', 'MATIC', 'MCDAI', 'MKR', 'OMG', 'ONX', 'ORBS', 'PAX', 'PAXG', 'PNT', 'QI', 'RAY', 'REN', 'ROOK', 'SGA', 'SGB', 'SGR', 'SNX', 'SOL', 'SPARK', 'SRM', 'SUSD', 'SUSHI', 'TAUD', 'TCAD', 'TGBP', 'THKD', 'TRU', 'TUSD', 'UMA', 'UNI', 'USD', 'USDC', 'USDT ERC20', 'VSP', 'WDGLD', 'XAUT', 'XLM', 'XRP', 'YFI', 'YFL', 'ZEC', 'ZRX', 'ZUSD', 'ALICE', 'LRC', 'POLIS', 'SRM_LOCKED', 'Stable Coins']
['Tier', '1INCH_APY', '3CRV_APY', 'AAVE_APY', 'ADA_APY', 'ALCX_APY', 'ALPHA_APY', 'alUSD_APY', 'AMPL_APY', 'ANKR_APY', 'ATLAS_APY', 'AVAX_APY', 'BADGER_APY', 'BAL_APY', 'BAT_APY', 'BCH_APY', 'BNB_APY', 'BNT_APY', 'BOBA_APY', 'BOND_APY', 'BOR_APY', 'BSV_APY', 'BTC_APY', 'BTG_APY', 'BUSD_APY', 'CEL_APY', 'COMP_APY', 'CREAM_APY', 'CRV_APY', 'CVX_APY', 'DASH_APY', 'DIGG_APY', 'DOT_APY', 'EOS_APY', 'ETC_APY', 'ETH_APY', 'FARM_APY', 'FIS_APY', 'FTM_APY', 'FTT_APY', 'GUSD_APY', 'KNC_APY', 'LDO_APY', 'LINK_APY', 'LPT_APY', 'LQTY_APY', 'LTC_APY', 'LUNA_APY', 'LUSD_APY', 'LUSD Curve_APY', 'MANA_APY', 'MATIC_APY', 'MCDAI_APY', 'MKR_APY', 'OMG_APY', 'ONX_APY', 'ORBS_APY', 'PAX_APY', 'PAXG_APY', 'PNT_APY', 'QI_APY', 'RAY_APY', 'REN_APY', 'ROOK_APY', 'SGA_APY', 'SGB_APY', 'SGR_APY', 'SNX_APY', 'SOL_APY', 'SPARK_APY', 'SRM_APY', 'SUSD_APY', 'SUSHI_APY', 'TAUD_APY', 'TCAD_APY', 'TGBP_APY', 'THKD_APY', 'TRU_APY', 'TUSD_APY', 'UMA_APY', 'UNI_APY', 'USD_APY', 'USDC_APY', 'USDT ERC20_APY', 'VSP_APY', 'WDGLD_APY', 'XAUT_APY', 'XLM_APY', 'XRP_APY', 'YFI_APY', 'YFL_APY', 'ZEC_APY', 'ZRX_APY', 'ZUSD_APY', 'ALICE_APY', 'LRC_APY', 'POLIS_APY', 'SRM_LOCKED_APY', 'Stable Coins_APY']

In [39]:
coin_tier_p1 = coin_tiers[filter2][coin_tier_p1_cols].T
coin_tier_p1.reset_index(inplace = True)
coin_tier_p1.columns = coin_tier_p1.iloc[0]
coin_tier_p1.drop([0], inplace = True)
new_name = ["Coin"]
for col in coin_tier_p1.columns:
    if col != "Tier":
        new_name.append("Coin_Tier_"+str(col)[0])
coin_tier_p1.columns = new_name
coin_tier_p1

,Coin,Coin_Tier_1,Coin_Tier_2,Coin_Tier_3,Coin_Tier_4,Coin_Tier_5
1,1INCH,139634.4114,0.0,0.179374,0.0,6666666.66
2,3CRV,0.0,638.912392,0.0,0.0,0.0
3,AAVE,5921.783079,8426.284972,0.0,19662.669256,170270.341828
4,ADA,2953294.31578,0.0,0.0,70511559.0,172989649.9
5,ALCX,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...
94,ALICE,0.0,0.0,0.0,60000.05,0.0
95,LRC,0.0,0.0,0.0,900021.23,0.0
96,POLIS,0.0,0.0,0.0,213558.86,0.0
97,SRM_LOCKED,0.0,57278.42,0.0,622209.71,0.0
98,Stable Coins,522352465.442482,55031132.56863,0.0,1456493776.208111,1513825325.173745

In [40]:
coin_tier_p2 = coin_tiers[filter2][coin_tier_p2_cols]
coin_tier_p2.columns = coin_tier_p1_cols
coin_tier_p2 = coin_tier_p2.T
coin_tier_p2.reset_index(inplace = True)
coin_tier_p2.columns = coin_tier_p2.iloc[0]
coin_tier_p2.drop([0], inplace = True)
new_name = ["Coin"]
for col in coin_tier_p2.columns:
    if col != "Tier":
        new_name.append("APY_Tier_"+str(col)[0])
coin_tier_p2.columns = new_name
coin_tier_p2

            Coin APY_Tier_1 APY_Tier_2 APY_Tier_3 APY_Tier_4 APY_Tier_5
1          1INCH        0.0        0.0       0.72        0.0       0.42
2           3CRV        0.0       0.69        0.0        0.0        0.0
3           AAVE   0.000002   0.521771        0.0   0.065759    0.49053
4            ADA        0.0        0.0        0.0     0.0733      0.045
5           ALCX        0.0        0.0        0.0        0.0        0.0
..           ...        ...        ...        ...        ...        ...
94         ALICE        0.0        0.0        0.0        0.0        0.0
95           LRC        0.0        0.0        0.0        0.0        0.0
96         POLIS        0.0        0.0        0.0        0.0        0.0
97    SRM_LOCKED        0.0   0.213526        0.0   -0.04572        0.0
98  Stable Coins   0.005073   1.683629        0.0   0.096877    0.14822

[98 rows x 6 columns]

In [41]:
coin_tiers = coin_tier_p1.merge(coin_tier_p2, on = "Coin", how = "inner")
filter3 = ~coin_tiers["Coin"].isin(stables)
#coin_tiers.columns
coin_tiers

,Coin,Coin_Tier_1,Coin_Tier_2,Coin_Tier_3,Coin_Tier_4,Coin_Tier_5,APY_Tier_1,APY_Tier_2,APY_Tier_3,APY_Tier_4,APY_Tier_5
0,1INCH,139634.4114,0.0,0.179374,0.0,6666666.66,0.0,0.0,0.72,0.0,0.42
1,3CRV,0.0,638.912392,0.0,0.0,0.0,0.0,0.69,0.0,0.0,0.0
2,AAVE,5921.783079,8426.284972,0.0,19662.669256,170270.341828,0.000002,0.521771,0.0,0.065759,0.49053
3,ADA,2953294.31578,0.0,0.0,70511559.0,172989649.9,0.0,0.0,0.0,0.0733,0.045
4,ALCX,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
93,ALICE,0.0,0.0,0.0,60000.05,0.0,0.0,0.0,0.0,0.0,0.0
94,LRC,0.0,0.0,0.0,900021.23,0.0,0.0,0.0,0.0,0.0,0.0
95,POLIS,0.0,0.0,0.0,213558.86,0.0,0.0,0.0,0.0,0.0,0.0
96,SRM_LOCKED,0.0,57278.42,0.0,622209.71,0.0,0.0,0.213526,0.0,-0.04572,0.0
97,Stable Coins,522352465.442482,55031132.56863,0.0,1456493776.208111,1513825325.173745,0.005073,1.683629,0.0,0.096877,0.14822

## the below code is to generat the pivot_data tab

In [42]:
some_dict = {"Coin":[], "Category":[], "Account": [], "Tier": [], "# of Coins": [], "APY": []}
df1 = pd.DataFrame.from_dict(some_dict)
col_names = ["Coin", "Category", "Account", "Tier", "# of Coins", 
             "APY", "COFA", "USD Value", "USD Value * COFA",
             "USD Value * APY"]
df1

Empty DataFrame
Columns: [Coin, Category, Account, Tier, # of Coins, APY]
Index: []

In [43]:
for coin in coin_list:
    if coin not in stables:
        used_cols = ["Account", "Tier", coin, coin+"_APY"]
        df2 = categories.merge(coin_stat_tier_apy[used_cols], on = "Account", how = "right")
        df2["Coin"] = coin
        df2.rename(columns = {coin: "# of Coins", coin+"_APY": "APY"}, inplace = True)
        df1 = pd.concat([df1, df2])
filter1 = df1["# of Coins"] > 10e-6
df1 = df1[filter1]
df1 = df1.merge(coin_price, on = "Coin", how = "left")
df1["USD Value"] = df1["# of Coins"] * df1["Price"]
df1["USD Value * APY"] = df1["USD Value"] * df1["APY"]
df1["Tier"] = df1["Tier"].apply(lambda x:x.split(".")[0])
df1

,Coin,Category,Account,Tier,# of Coins,APY,Price,USD Value,USD Value * APY
0,1INCH,undeployed,Celsius Network System,1,139634.4114,0.0,3.137467,438098.334373,0.0
1,1INCH,Other,Others - Asset,5,6666666.66,0.42,3.137467,20916445.52575,8784907.120815
2,1INCH,Defi,YFL,3,0.179374,0.72,3.137467,0.562779,0.405201
3,3CRV,Defi,Deployment - Curve,2,638.912392,0.69,1,638.912392,440.849551
4,AAVE,undeployed,Celsius Network,1,33.2307,0.0,225.74624,7501.705591,0.0
...,...,...,...,...,...,...,...,...,...
578,Stable Coins,Exchange,FTX - DeFi,4,5009076.94,0.0,1,5009076.94,0.0
579,Stable Coins,Exchange,FTX - Management,4,192629.21,0.16,1,192629.21,30820.6736
580,Stable Coins,Exchange,FTX - Kairon,4,221840.35,0.18,1,221840.35,39931.263
581,Stable Coins,CEL,FTX - Kairon2,5,3050734.99,1.24,1,3050734.99,3782911.3876
582,Stable Coins,Exchange,FTX - CEL,4,4224511.77,0.22,1,4224511.77,929392.5894

In [44]:
# below 3 code blocks are for analyzing COFA
cats = list(df1["Category"].unique())
accs = list(df1["Account"].unique())
cofa_accts = list(cofa["Account"].unique())
cofa_accts.remove("Default")
cofa_accts

['CEL Treasury',
 'Posted Collateral',
 'FTX - CnC',
 'FTX - CEL',
 'FTX - TEAM Directional',
 'FTX - LONG1',
 'Celsius Borrows Account']

In [45]:
def add_cofa(df1, cofa, cofa_accts):
    default_cofa = cofa[cofa["Account"] == "Default"][["Coin", "COFA"]]
    df2 = df1.merge(default_cofa, on = "Coin", how = "left")
    for col in cofa_accts:
        #print(col)
        cofa_2 = cofa[cofa["Account"] == col]
        if col in cats:
            cofa_2.columns = ["Coin", "Category", "COFA-2"]
            df2 = df2.merge(cofa_2, on=["Coin", "Category"], how='left')
        elif col in accs:
            cofa_2.columns = ["Coin", "Account", "COFA-2"]
            df2 = df2.merge(cofa_2, on=["Coin", "Account"], how='left')
        else:
            continue
        df2_p1 = df2[df2["COFA-2"].isnull()].drop(columns = ["COFA-2"])
        df2_p2 = df2[df2["COFA-2"].notnull()]
        df2_p2["COFA"] = df2_p2["COFA-2"]
        df2_p2.drop(columns = ["COFA-2"], inplace = True)
        df2 = pd.concat([df2_p1, df2_p2])
        df2.sort_values(by = ["Coin"], inplace = True)
    return df2

In [46]:
df2 = add_cofa(df1, cofa, cofa_accts)
#df2.to_excel("C:/celsius/Liquidity/cofa_2.xlsx", index = False)
df2.to_excel("cofa_2.xlsx", index = False)
df2["USD Value * COFA"] = df2["USD Value"] * df2["COFA"]
df2.sort_values(by = "USD Value", ascending = False, inplace = True)
df2

/var/folders/q7/qhj4q23x49vb9f__hlp8t3280000gn/T/ipykernel_25682/2289702927.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_p2["COFA"] = df2_p2["COFA-2"]
/Users/gabrielchoukroun/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Coin,Category,Account,Tier,# of Coins,APY,Price,USD Value,USD Value * APY,COFA,USD Value * COFA
117,BTC,Posted Collateral,Posted Collateral,5,44405.96,0.0,53547.99417,2377850087.193253,0.0,0.0000,0.0
329,ETH,Posted Collateral,Celsius Borrows Account,5,539913.9501,0.003,4217.328222,2276994339.20823,6830983.017625,0.0000,0.0
125,BTC,Institutional Loans,Loans Out,4,28487.32,0.031,53547.99417,1525438845.278924,47288604.203647,0.0292,44542814.282145
481,Stable Coins,Institutional Loans,Loans Out,4,1313925372.78,0.102823,1,1313925372.78,135102267.575046,0.1300,170810298.4614
154,CEL,CEL Users,CEL Users,1,288535699.2,0.0,3.707021,1069607806.738016,0.0,0.0389,41607743.682109
...,...,...,...,...,...,...,...,...,...,...,...
26,ALPHA,Exchange,FTX - CnC,4,0.08,-0.126021,0.978504,0.07828,-0.009865,NaN,NaN
541,VSP,Defi,YieldDesk_Main,5,0.002495,0.58,4.76,0.011875,0.006888,NaN,NaN
25,ALICE,Exchange,FTX - CnC,4,60000.05,NaN,NaN,NaN,NaN,NaN,NaN
388,LRC,Exchange,FTX - CnC,4,900021.23,NaN,NaN,NaN,NaN,NaN,NaN
437,POLIS,Exchange,FTX - Brad,4,213558.86,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
# process the collateral table and insert it into the liquidity tier summary
# for COFA value of collateral, use default first, there is a "Collateral" column in COFA which will override the default
cofa_collateral_p1 = cofa_original[cofa_original["Collateral"].notnull()]
cofa_collateral_p2 = cofa_original[cofa_original["Collateral"].isnull()]
cofa_collateral_p1["Default"] = cofa_collateral_p1["Collateral"]
cofa_collateral = pd.concat([cofa_collateral_p1, cofa_collateral_p2])[["Coin", "Default"]]
cofa_collateral.columns = ["Coin", "COFA"]
collateral = collateral.merge(cofa_collateral, on = "Coin", how = "left")
collateral = collateral.merge(coin_price, on = "Coin", how = "left")
collateral["User Collateral USD Value"] = collateral["User Collateral"] * collateral["Price"]
collateral["Inst Collateral USD Value"] = collateral["Inst Collateral"] * collateral["Price"]

In [48]:
# get the whole apy-template table and insert it into the liquidity tier summary
apy_template = template.drop([0])
apy_template.fillna(value = "N/A", inplace = True)
#some people leave spaces in apy sheet, need to remove them
apy_template.replace([" ", "", "  "], "N/A", inplace = True)

In [49]:
#path = "C:/celsius/Liquidity/Liquidity_Tier_Summary.xlsx"
path = "Liquidity_Tier_Summary_test.xlsx"
lp = openpyxl.load_workbook(path)
#lp.remove(lp['Data'])
#lp.remove(lp['Price'])
#lp.remove(lp['Pivot_Data'])
#lp.remove(lp['APY'])
#lp.remove(lp['COFA'])
#lp.remove(lp['Collateral'])
writer = pd.ExcelWriter(path, engine = 'openpyxl')
writer.book = lp
coin_tiers[filter3].to_excel(writer, sheet_name = 'Data', index = False)
coin_price.to_excel(writer, sheet_name = 'Price', index = False)
df2[col_names].to_excel(writer, sheet_name = 'Pivot_Data', index = False)
apy_template.to_excel(writer, sheet_name = 'APY', index = False)
cofa_original.to_excel(writer, sheet_name = 'COFA', index = False)
collateral.to_excel(writer, sheet_name = 'Collateral', index = False)
writer.close()
lp.close()

## following code will push the data to the shared google sheet

In [50]:
import os.path
from googleapiclient.discovery import build
from google_auth_oauthlib.flow import InstalledAppFlow
from google.auth.transport.requests import Request
from google.oauth2.credentials import Credentials

ModuleNotFoundError: No module named 'googleapiclient'

In [43]:
scope = [
'https://www.googleapis.com/auth/spreadsheets',
'https://www.googleapis.com/auth/drive'
]

# this is ID for testing
#SPREADSHEET_ID = '1IptNC0hEhwvuyfI4m2kP9-rR-3jDAOhgQaPNkW2I_QQ'
# this is ID for waterfall sheet
SPREADSHEET_ID = "1ZkSLZH2QwHnfdSpQUWAv2qum6xzhemngjWQBJBn_KeM"
# The file token.json stores the user's access and refresh tokens, and is
# created automatically when the authorization flow completes for the first
# time.
if os.path.exists('write_token.json'):
        creds = Credentials.from_authorized_user_file('write_token.json', scope)
'''flow = InstalledAppFlow.from_client_secrets_file('client_secret_992941975507-pvjneopi7dhmj2mqq6arpghs6r7q31jj.json', scope)
creds = flow.run_local_server(port=0)
with open('write_token.json', 'w') as token:
    token.write(creds.to_json())'''
service = build('sheets', 'v4', credentials=creds)

In [44]:
response = service.spreadsheets().values().clear(
    spreadsheetId=SPREADSHEET_ID,
    range="Data",
    ).execute()

response = service.spreadsheets().values().update(
    spreadsheetId=SPREADSHEET_ID,
    valueInputOption='RAW',
    range="Data!A1",
    body=dict(
        majorDimension='ROWS',
        values=coin_tiers[filter3].fillna(value = "N/A").T.reset_index().T.values.tolist())
).execute()

In [45]:
response = service.spreadsheets().values().clear(
    spreadsheetId=SPREADSHEET_ID,
    range="Price",
    ).execute()

response = service.spreadsheets().values().update(
    spreadsheetId=SPREADSHEET_ID,
    valueInputOption='RAW',
    range="Price!A1",
    body=dict(
        majorDimension='ROWS',
        values=coin_price.fillna(value = 0).T.reset_index().T.values.tolist())
).execute()

In [46]:
response = service.spreadsheets().values().clear(
    spreadsheetId=SPREADSHEET_ID,
    range="APY",
    ).execute()

response = service.spreadsheets().values().update(
    spreadsheetId=SPREADSHEET_ID,
    valueInputOption='RAW',
    range="APY!A1",
    body=dict(
        majorDimension='ROWS',
        values=apy_template.fillna(value = 0).T.reset_index().T.values.tolist())
).execute()

In [47]:
response = service.spreadsheets().values().clear(
    spreadsheetId=SPREADSHEET_ID,
    range="COFA",
    ).execute()

response = service.spreadsheets().values().update(
    spreadsheetId=SPREADSHEET_ID,
    valueInputOption='RAW',
    range="COFA!A1",
    body=dict(
        majorDimension='ROWS',
        values=cofa_original.fillna(value = "N/A").T.reset_index().T.values.tolist())
).execute()

In [48]:
response = service.spreadsheets().values().clear(
    spreadsheetId=SPREADSHEET_ID,
    range="Collateral",
    ).execute()

response = service.spreadsheets().values().update(
    spreadsheetId=SPREADSHEET_ID,
    valueInputOption='RAW',
    range="Collateral!A1",
    body=dict(
        majorDimension='ROWS',
        values=collateral.fillna(value = "N/A").T.reset_index().T.values.tolist())
).execute()

In [49]:
response = service.spreadsheets().values().clear(
    spreadsheetId=SPREADSHEET_ID,
    range="Coin_Total_Asset_Liability",
    ).execute()

response = service.spreadsheets().values().update(
    spreadsheetId=SPREADSHEET_ID,
    valueInputOption='RAW',
    range="Coin_Total_Asset_Liability!A1",
    body=dict(
        majorDimension='ROWS',
        values=coin_asset_liability.fillna(value = 0).T.reset_index().T.values.tolist())
).execute()

In [50]:
response = service.spreadsheets().values().clear(
    spreadsheetId=SPREADSHEET_ID,
    range="Pivot_Data",
    ).execute()

response = service.spreadsheets().values().update(
    spreadsheetId=SPREADSHEET_ID,
    valueInputOption='RAW',
    range="Pivot_Data!A1",
    body=dict(
        majorDimension='ROWS',
        values=df2[col_names].fillna(value = "N/A").T.reset_index().T.values.tolist())
).execute()

## below code is to cpoy this freeze waterfall into the archive

In [51]:
scope = [
'https://www.googleapis.com/auth/spreadsheets',
'https://www.googleapis.com/auth/drive',
'https://www.googleapis.com/auth/drive.file'
]

# this is ID for waterfall live, but we just updated it using freeze data
SPREADSHEET_ID = "1ZkSLZH2QwHnfdSpQUWAv2qum6xzhemngjWQBJBn_KeM"
# The file token.json stores the user's access and refresh tokens, and is
# created automatically when the authorization flow completes for the first
# time.
if os.path.exists('drive_file_token.json'):
        creds = Credentials.from_authorized_user_file('drive_file_token.json', scope)
'''flow = InstalledAppFlow.from_client_secrets_file('client_secret_992941975507-pvjneopi7dhmj2mqq6arpghs6r7q31jj.json', scope)
creds = flow.run_local_server(port=0)
with open('drive_file_token.json', 'w') as token:
    token.write(creds.to_json())'''
service = build('drive', 'v3', credentials=creds)

In [52]:
# extract the most recent freeze id from the url provided and get the file name using that id
freeze = pd.read_excel("/home/fan7893/Documents/Celsius/Liquidity/freeze_address.xlsx")
freeze.columns = freeze.iloc[0]
freeze.drop([0], inplace = True)
freeze_address = str(freeze.iloc[-1]["Freeze URL"])
#print(freeze_address)
freeze_id = freeze_address.split("/")[5]

#get the file name of most recent freeze sheet, which include the date of the freeze
response = service.files().get(fileId=freeze_id).execute()
freeze_name  = "Portfolio Waterfall - " + response["name"]

In [53]:
# after updating the portfolio waterall live, copied it to the archive folder
archive_folder_id = "13f2xspl16wzdHBRwhgnEkKj80zLL9Rzu"
newfile = {'name': freeze_name,  'parents' : [archive_folder_id]}
response = service.files().copy(fileId=SPREADSHEET_ID, body=newfile).execute()